@font-face {

  font-family: 'Raleway ExtraBold'; 

  src:  url('fonts/Raleway-ExtraBold.ttf');
}
@font-face {

  font-family: 'Raleway Bold'; 

       src:  url('fonts/Raleway-Bold.ttf');
}
@font-face {

  font-family: 'Raleway Regular';
       src:  url('fonts/Raleway-Regular.ttf');
}

body {
    font-family: 'Arial Black', sans-serif;
    background: linear-gradient(to bottom, #87CEEB 0%, #87CEEB 65%, #90EE90 65%, #90EE90 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.backgroundimage {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 115vh;
        object-fit: cover;
        object-position: center;
        z-index: -1;
    }
.quadro{
        position: fixed;
        top: 25%;
        left: 15%;
        width: 70vw;
        height: 70vh;
        object-fit: cover;
        object-position: center;
        z-index: -1;
}
.x{
        
        width: 3vw;
        height: 5vh;
                
}
.fechar{
        position: fixed;
        top: 28%;
        left: 80%;
        object-fit: cover;
        object-position: center; 
}
.fechar:hover{
        transform: translateY(-2px);
}
.back{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        object-position: center;
        z-index: -1;
}
.titulo{
    position: fixed;
    top:15%;
    left:47%;
    transform: translate(-50%, -50%);
    height: 20%;
    width: 35%;
}
.fonteTitulo{
    font-family: 'Raleway Bold', sans-serif;
}
.fonteMenu{
    font-family: 'Raleway ExtraBold', sans-serif;
}

.tutorial {
    width: 70%;
    margin: 80px auto;
    padding: 75px;
    border-radius: 20px;
    font-family: Arial, sans-serif;
    text-align: left;        
    line-height: 1.8;
    font-size: 20px; 
    position: relative;
    top: 98px;
    left: 10px;
}