.backgroundimage {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 115vh;
        object-fit: cover;
        object-position: center;
        z-index: -1;
    }
.quadro{
        position: fixed;
        top: 25%;
        left: 15%;
        width: 70vw;
        height: 70vh;
        object-fit: cover;
        object-position: center;
        z-index: -1;
}
.x{
        
        width: 3vw;
        height: 5vh;
                
}
.fechar{
        position: fixed;
        top: 28%;
        left: 80%;
        object-fit: cover;
        object-position: center; 
}
.fechar:hover{
        transform: translateY(-2px);
}
.back{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        object-position: center;
        z-index: -1;
}
.titulo{
    position: fixed;
    top:15%;
    left:47%;
    transform: translate(-50%, -50%);
    height: 20%;
    width: 35%;
}