.fasebox {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%); 
    width: 1200px;
    height: 500px;
}   

.fasebox .fase1 {
    position: absolute;
    top: 15%;
    left: 0%;
    width: 430px;
    height: 500px;
    object-fit: contain;
    transition: transform 0.2s ease;
    clip-path: polygon(0 0, 102% 43%, 50% 100%, 0 100%);
}

.fasebox .fase2 {
    position: absolute;
    top: 15%;
    left: 0%; 
    width: 506px;
    height: 262px;
    object-fit: contain;
    transition: transform 0.2s ease;
    clip-path: polygon(100% 100%, 0 0, 100% 0);
}

.fasebox .fase3 {   
    position: absolute;
    top: 59.5%;
    left: 17.8%;
    width: 751px;
    height: 277px;
    object-fit: contain;
    transition: transform 0.2s ease;
    clip-path: polygon(0 10%, 30% 0, 100% 100%, 0% 100%);
}

.fasebox .fase4 {
    position: absolute;
    top: 15%;
    right: 0%;
    width: 695px;
    height: 367px;
    object-fit: contain;
    transition: transform 0.2s ease;
    clip-path: polygon(0 0, 100% 0, 38% 100%, 0 71%);
}

.fasebox .fase5 {
    position: absolute;
    top: 15%;
    right: 0%;
    width: 491px;
    height: 500px;
    object-fit: contain;
    transition: transform 0.2s ease;
    clip-path: polygon(0 74%, 100% 0, 100% 100%, 50% 100%);
}

.fasebox img:hover {
    transform: scale(1.1);
    z-index: 10;
}

.grayscale {
	filter: grayscale(100%);
}

.disabled {
	pointer-events:	none;
	cursor: default;
}
