@font-face {
	font-family: 'Raleway Bold';
		src:  url('fonts/Raleway-Bold.ttf');
}

body {
	background-image: url("../assets/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

#placar {
	background-color: #add8e6;

	display: flex;
	flex-direction: column;
	gap: 8px;

	width: 75vw;
	height: 75vh;
	overflow-y: auto;

	padding: 8px;
	border-radius: 16px;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.placar-entrada {
	background: #4ecbfc;

	border-radius: 16px;

	display: flex;
	justify-content: space-evenly;
}

.nome, .pontuacao, .cenario {
    font-family: 'Raleway Bold', sans-serif;
	font-size: 1.35rem;
	color: white;
	-webkit-text-stroke-width: 0.06rem;
	-webkit-text-stroke-color: rgba(0, 0, 0, 0.3);
}
