* {
	margin: 0px;
	padding: 0px;
}

body {
	background-image: url("../assets/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.jogo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;

	height: 100vh;
}

.topo {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	width: 99%;

	position: relative;
}

.topo > img {
	margin-left: 16px;

	position: relative;
	left: 0;
}

.timer-holder {
	display: flex;
	align-items: center;
	flex-direction: column;

	background-color: white;

	font-size: 1.25rem;

	padding: 16px;
	border-radius: 8px;

	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
}

.pontuacao-holder {
	display: flex;
	align-items: center;
	flex-direction: column;

	background-color: rgba(0, 0, 0, 0.5);
	color: white;

	padding: 16px;
	margin-right: 16px;
	border-radius: 16px;

	font-size: 1.1rem;

	position: absolute;
	right: 0;
}

#pontuacao {
	white-space: pre-line;
}

#canvas-jogo {
	display: block;
	margin: 0 auto;
}

.perguntas-holder {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;

	width: 70%;

	background-color: #dddddd;
	border-radius: 8px;
}

#pergunta {
	margin: 16px;

	font-size: 1.25rem;
}

.respostas-holder {
	display: flex;
	flex-direction: row;

	gap: 32px;
	margin: 16px;
}

.resposta {
	border: none;

	width: 4.5em;
	height: 4em;

	background-color: #ffffff;
	border-radius: 8px;
	font-size: 1rem;

	box-shadow: 0px 6px #aaaaaa;
}
.resposta:active {
	box-shadow: 0px 4px #aaaaaa;
	transform: translate(0px, 2px);
}
